
@-ms-keyframes donothing {
  0% {}

  100% {}
}

.new-projects {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.front-text {
  font-size: 24px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.parent-content {
  display: flex;
  margin-top: 70px;
  height: 50%;
  align-items: center;

  > div:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.content-option {
  min-width: 200px;
  display: flex;
  flex: 1;
  min-width: 250px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
}

.flip-container {
    display: inline-block;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px;

    .content {
        height: 100%;
        transition: 0.5s ease-out;
        transform-style: preserve-3d;
        backface-visibility: visible;
    }

    &:hover .front {
        opacity: 0;
        transition: opacity .1s;
    }


    &:hover .back {
        opacity: 1;
        transition: opacity .1s;
    }

    &:hover .content {
        transform: rotateX(180deg);
        -ms-animation: donothing 0.5s;
        -ms-transition: visibility 0.2s linear 0.17s;
        visibility: visible;
    }



    .front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: perspective(1000px) rotateX(0deg);
        backface-visibility: hidden;
        -ms-backface-visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateX(-180deg);
        backface-visibility: hidden;
        -ms-backface-visibility: visible;
        opacity: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-clip: content-box;
        border: 10px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 20px;

        .overlay {
            width: 100%;
        }

        .panel-title {
            width: inherit;
            color: #1B87B5;
            text-align: center;
            font-weight: bold;
            padding: 10px 20px 0 20px;
            font-size: 12px;
        }

        .panel-description {
            width: inherit;
            color: #1B87B5;
            padding: 10px 20px 0 20px;
            font-size: 14px;
        }

        .panel-footer {
            width: inherit;
            color: #1B87B5;
            font-weight: bold;
            padding: 10px 20px 0 20px;
            font-size: 12px;
        }

        .panel-options {
            padding-top: 18px;

            .panel-list-item {
                color: white;
                text-transform: uppercase;
                padding-top: 5px;
                margin-bottom: 10px;
                font-size: 18px;
                text-shadow: 2px 2px 2px #000000;
            }
        }
    }
}
