.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div:first-of-type {
    .error {
      margin-top: -15px;
    }
  }

  .signup-fields {
    margin-bottom: 15px; 
    border-radius: 20px;
    width: 300px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #D3D3D3;
     &.first-div {
       margin-bottom: 10px;
     }
  }

  .user-options {
    color: #ADD8E6;
  }

  .error {
    margin-bottom: 10px;
    margin-top: -5px;
    color: red;
  }

  .signup-button  {
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    height: 40px;
  }

  .reset-button  {
    margin-top: 10px;
    margin-left: -25px;
    font-size: 15px;
    border-radius: 10px;
    height: 40px;
  }

  .signup-label {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(50, 153, 204);
  }

  .submit-alert {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 4px; 
  }

  .submit-success {
    margin-top: 20px; 
    border: 1px solid #0275d8; 
    background-color: #0275d8
  }
}

textarea {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
