{
  root: true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
  },
  "env":{
    "browser": true,
    "node": true,
    "mocha": true
  },
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 1,
  }
}