.user-form {
  .pavement-structure-btn {
    margin-right: 20px;
    background-color: #FE8350;
    color: white;
    box-shadow: 2px 2px 10px #000000;
    width: 95px;
    height: 43px;

    &:focus {
      outline: none;
    }
  
  }
} 
